.catalog {
  margin-top: 20px;
  padding-bottom: 102px;
}
.catalog__col {
  padding: 0 20px;
  width: 25%;
  margin-bottom: 101px;
}

.catalog__h1 {
  margin-bottom: 60px;
}

.catalog__spagin {
  margin-top: -23px;  
}

ul.spagin {
  display: flex;  
  justify-content: center;
  list-style: none;
  align-items: center;
  li {
    margin: 0 12px;
    a {
      display: block;
      font-weight: 500;
      font-size: 18px;
      color: #433D3D;
      opacity: 0.4;
      font-family: $ff2;
      &:hover {
        text-decoration: none;
        opacity: 1;
        color: #433D3D;
      }
      &.active {
        color: #313130;
        opacity: 1;
        color: #433D3D;
      }
      &.spagin-control {
        opacity: 1;
      }
      &.disable {
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.spagin-control {  
  width: 15px;
  height: 14px;
  display: block;
  background: url("../img/arr-pagin.svg") $nr 0 0;
  
}
.spagin-prev {
  margin-right: auto;
  margin-right: 4px;
}
.spagin-next {
  margin-left: auto;
  transform: rotate(180deg);
  margin-right: 4px;
}


@media (max-width : 1100px) {
  .catalog__img-w {
    height: 200px;
  }
}

@media (max-width : 991px) {
  .catalog__col {
    width: 33.333%;
    margin-bottom: 50px;
  }
  .catalog__img-w {
    height: 190px;
  }  
  .catalog__btn {
    font-size: 12px;
    height: 29px;
    padding: 0 20px;
  }
  .catalog__title {
    font-size: 14px;
  }
  .catalog__info {
    font-size: 12px;
  }
  .catalog__content {
    min-height: unset;
    margin-bottom: 15px;
  }
  .catalog__price {
    margin-top: 15px;  
    font-size: 16px;
    line-height: 125%;
  }
  .catalog__spagin {
    margin-top: 18px;
  }
  ul.spagin {
   li {
    margin: 0 20px;
    a {
     font-size: 22px;
   }
 }
}
.spagin-control {
  width: 18px;
  height: 17px;    
  background-size: 18px;
}
.catalog {
  padding-bottom: 52px;
  margin-top: 8px;
}
}

.catalog__tags {
  display: flex;  
  flex-wrap: wrap;  
          justify-content: center;
          margin-bottom: 20px;
}

.catalog__tag {
  display: inline-flex;  
  align-items: center;
  justify-content: center;
  height: 29px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  font-family: $ff2;
  color: #FFFFFF;
  margin: 0 5px 10px 5px;
  background: #A18F62;  
  flex: none;
  &:hover {
    text-decoration: none;
    background: #BCA979;
  }
}

@media (max-width : 660px) {
  .catalog__col {
    width: 50%;
  }
  .catalog__h1 {
    margin-bottom: 30px;
  }
}

@media (max-width : 480px) {
  .catalog__col {
    width: 100%;
    margin-bottom: 60px;
  }
  .catalog__item {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__spagin {
    margin-top: -10px;
  }
  ul.spagin li {
    &:nth-last-child(3),
    &:nth-last-child(2) {
      display: none;
    }
  }
  ul.spagin li a {
    font-size: 20px;
  }
  .spagin-control {
    width: 16px;
    height: 15px;             
    background-size: 16px;
  }
  .catalog__img-w {
    height: 250px;
  }
  .catalog__title {
    font-size: 16px;
  }
  .catalog__info {
    font-size: 14px;
  }
  .catalog__price {
    font-size: 20px;
    margin-top: 11px;
  }
  .catalog__btn {
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
  }
  .catalog__content {
    margin-bottom: 18px;
  }
  .catalog__tag {
    padding: 0 10px;
  }
}