.footer {
  background: #A18F62;
  padding: 38px 0 30px 0;
}


.footer__logo {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  img {
    max-width: 100%;
    height: auto;
  }
}
.footer__row {
  margin-top: 36px;
  margin-bottom: 71px;
}

.footer__ul {
  display: flex;  
  justify-content: center;
  li {
    margin: 0 20px;
    a {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      font-family: $ff2;
      color: #433D3D;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer__row-2 {
  display: flex;  
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  a {  
    color: #433D3D;
  }
}
.copy {}
.polyt {}
.rights {}

@media (max-width : 1280px) {}
@media (max-width : 1199px) {
.footer__ul {  
  flex-wrap: wrap;  
          justify-content: flex-start;
  li {
    margin: 0;
    width: 33.33%;
    margin-bottom: 20px;
  }
}

.footer__row {
  margin-bottom: 30px;
}
}
@media (max-width : 991px) {
  .footer {
    padding-bottom: 40px;
    padding-top: 50px;
  }
  .footer__row-2 {    
    flex-wrap: wrap;
    > * {
      width: 100%;
      margin-bottom: 10px;
    } 
  }
  .footer__row {
    margin-top: 49px;
  }
}

@media (max-width : 767px) {
  .footer__ul {
    li {
    width: 100%;
  }
  }
  .footer__row {
    margin-top: 50px;
  } 
  .footer__row-2 > * {
    margin-bottom: 5px;
  }
}


@media (max-width : 480px) {
  .footer {
    padding-top: 51px;
  }
}