.advert {
  padding-bottom: 60px;
}



.advert__row {
  display: flex;
}

.advert__left {
  display: block;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 72px;
}

.advert__content {
  margin-bottom: 110px;
}

.advert__date {
  font-weight: 700;
  font-size: 18px;
  color: rgb(161, 143, 98);
  margin-bottom: 13px;
  font-family: $ff2;
}

.advert__title {
  font-size: 40px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  margin-bottom: 30px;
  font-family: $ff2;
}

.advert__text {
  font-size: 16px;
  line-height: 1.4;
  color: rgb(67, 61, 61);
}

.btn__arr {
  font-family: $ff2;  
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;  
  transition: 0.5s;
  min-width: 270px;
  background: rgb(161, 143, 98);
  &:hover {
    text-decoration: none;
    background-color: #BCA979;
  }
  &:after {
    content: "";
    display: block;    
    right: 69px;
    top: 50%;
    width: 18px;
    height: 12px;
    margin-left: 15px;
    background: url("../img/arr-r-btn.svg") $nr 0 0;
  }  
}

.advert__btn {


}

.advert__right {
  width: 787px;  
  flex: none;  
  margin-left: 40px;
}

.advert__slider {
  height: 600px;
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
  .slick-arrow {
    position: absolute;
    z-index: 12;  
    width: 42px;
    height: 66px;
    border: none;
    background: none;
    font-size: 0;    
    top: 50%;
    transform: translate(0, -50%);  
    background-image: url("../img/arr-l-sl.svg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 48px;
    height: 48px;
    display: flex;
    opacity: 0.5;  
    transition: 0.5s;
    li {
      button {
        padding: 0;        
        border: none;
      }
    }
  }

  .slick-prev {
    left: 0;  
  }

  .slick-next {
    right: 0;  
    transform: translate(0, -50%) rotate(180deg);
  }

  .slick-arrow {

  }

  .slick-dots {
    z-index: 12;
    display: flex;  
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
    align-items: center;
    li {
      font-size: 0;
      background: none;
      padding: 0;    
      button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;      
        width: 14px;
        height: 14px;      
        display: block;  
        flex: none;
        background: none;
        display: flex;      
        align-items: center;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          border: 1px solid rgb(255, 255, 255);
          background: rgb(255, 255, 255);
          border-radius: 50%;
          overflow: hidden;
        }
      }
      &.slick-active {
        button {
          border: 1px solid rgb(255, 255, 255);
          border-radius: 50%;
          overflow: hidden;
          background: none;
          width: 14px;
          height: 14px; 
          margin-left: 4px;
          margin-right: 4px;
          &:before {
            display: none;
          } 
        }
      }
    }
  }
}

.advert__slide {
  position: relative;
  height: 600px;
}

.advert__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.assist {
  background: rgb(248, 247, 245);
  padding-top: 61px;
  padding-bottom: 62px;
}

.assist__text {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(161, 143, 98);  
  font-family: $ff2;
  font-weight: 400;
  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.mcatalog {
  padding: 109px 0 191px 0;
}

.mcatalog__btn-1 {
  margin-bottom: 50px;
}

.mcatalog__btn-w {
  text-align: right;
  
}

.mcatalog__row {
  margin-top: 50px;
}

.mcatalog__item {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
  .catalog__col {
    margin-bottom: 0;
  }
}

.art {  
  padding-bottom: 70px;
}



.heading__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.h2 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: $ff2;
}

.art__gal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
}

.art__col {
  padding: 0 20px;
  width: 50%;
  margin-bottom: 80px;
}

.art__item {
  width: 100%;
  position: relative;
  height: 580px;
  flex: none;  
  overflow: hidden;
  display: block;
  &:hover {
    .art__info {
      transform: translateY(0);
    }    
  }
}

.art__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.art__info {
  padding: 50px 30px 30px;  
  background: rgba(242, 239, 237, 0.8);  
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);  
  transition: 0.33s;
}

.art__title {
  font-size: 30px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  margin-bottom: 20px;
  font-family: $ff2;
  padding-right: 80px;
}

.art__descr {
  font-size: 16px;
  line-height: 1.4;
  color: rgb(67, 61, 61);
}

.consult {  
  background: #F8F7F5;
  padding-top: 80px;
  padding-bottom: 70px;
}

.consult__row {
  display: flex;
}

.consult__img-w {
  width: 474px;  
  margin-right: 146px;
  flex: 0 0 auto;
}

.consult__img {
  max-width: 100%;
  width: 100%;
}

.consult__form {
  flex: 1 1 auto;
}

.consult__title {
  font-size: 40px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  margin-bottom: 83px;
  font-family: $ff2;
}

.consult__form-form {
}

.consult__input {
  border: none;
  background: rgb(255, 255, 255);
  height: 40px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(67, 61, 61);  
  &::placeholder {
    color: rgba(67, 61, 61, 0.4);  
  }
}

.consult__textarea {
  border: none;
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 11px 25px;
  height: 100px;
  font-size: 14px;
  margin-bottom: 12px;
  border: none;
  color: rgb(67, 61, 61); 
  &::placeholder {
    color: rgba(67, 61, 61, 0.4);  
  } 
}

.consult__label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: -2px;
  input[type="checkbox"] {
    display: none;
    + span {      
      flex: none;
      background: #FFFFFF;
      width: 22px;
      height: 22px;
      display: block;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: #BCA979;
        display: none;
      }  
    }
    &:checked {
      + span {
        &:before {
          display: block;
        }
      }
    }
  }  
}

.consult__label-text {
  font-size: 14px;
  color: rgb(67, 61, 61);
  opacity: 0.6;
  margin-left: 12px;
  line-height: 1.4;
}

.consult__btn-w {
  display: flex;
  justify-content: space-between;
}

.consult__add {
  height: 50px;
  display: inline-flex;
  color: rgba(67, 61, 61, 0.4);
  font-size: 14px;
  align-items: center;
  background: url("../img/cons-ph.svg") left 25px center no-repeat rgb(255, 255, 255);
  padding-left: 59px;
  padding-right: 23px;  
  &:hover {
    text-decoration: none;
  }
}

.consult__btn {
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 50px;
  align-items: center;
  justify-content: center;
  background: rgb(161, 143, 98);
  padding-left: 20px;
  padding-right: 20px;
}

.exhib {
  padding-top: 150px;
  padding-bottom: 60px;
  
}

.heading__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exhib__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 79px;
}

.exhib__col {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}

.exhib__item {
  width: 100%;  
}

.exhib__img-w {
  margin-bottom: 32px;
  height: 326px;
  overflow: hidden;
  display: block;
}

.exhib__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.exhib__date {
  color: rgb(67, 61, 61);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 13px;
  font-family: $ff2;
}

.exhib__title {
  font-size: 30px;
  color: rgb(67, 61, 61);
  margin-bottom: 23px;
  display: block;
  font-family: $ff2;
  &:hover {
    text-decoration: none;
    color: #757575;
  }
}

.exhib__desc {
  font-size: 16px;
  line-height: 1.4;
  color: rgb(67, 61, 61);
}

.subscribe {
  background: rgb(248, 247, 245);
  padding-top: 60px;
  padding-bottom: 60px;
}



.subscribe__title {
  font-weight: 500;
  font-size: 30px;
  color: rgb(67, 61, 61);
  text-align: center;
  margin-bottom: 22px;
  font-family: $ff2;
}

.subscribe__text {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgb(67, 61, 61);
  margin-bottom: 51px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__input {
  border: none;
  background: rgb(255, 255, 255);
  height: 50px;
  color: rgb(67, 61, 61);  
  font-size: 14px;
  padding: 15px 20px;
  width: 224px;  
  flex: none;
  &::placeholder {
    color: rgba(67, 61, 61, 0.4);  
  }
}

.subscribe__btn {
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 50px;
  align-items: center;
  justify-content: center;
  background: rgb(161, 143, 98);
  padding-left: 20px;
  padding-right: 20px;
}

.cont {
  padding-top: 149px;
  padding-bottom: 100px;
}


.cont__row {
  display: flex;
}

.cont__left {  
  flex-grow: 1;
  font-family: $ff2;
  padding-right: 20px;
  a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 15px;
  }
}

.cont__title {
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 43px;
  margin-top: 5px;
}

.cont__adress {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.cont__hours {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 60px;
}

.cont__socials {
  display: flex;
}

a.cont__social {
  width: 44px;
  height: 44px;
  display: block;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.cont__right {
  width: 787px;
  flex: 0 0 auto;
  position: relative;
}

.cont__geo {
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  bottom: 265px;
  right: 360px;
}

@media (max-width : 1200px) {
  .advert__right {
    width: 50%;
  }
  .advert__slider,
  .advert__slide {
    height: 500px;
  }
  .mcatalog {
    padding-bottom: 151px;
  }
  .art__col {
    margin-bottom: 40px;
  }
  .consult__img-w {
    margin-right: 106px;
  }
  .exhib {
    padding-top: 120px;
  }
  .cont__right {
    width: 60%;
  }
  .cont {
    padding-top: 90px;
  }
}//1200

@media (max-width : 1128px) {

  .contain.mcatalog__contain {
    padding-right: 0;
  }

  .mcatalog__scroll {  
    overflow: auto;
    width: 100%;  
  }

  .mcatalog__row {  
    flex-wrap: nowrap;  
    width: 1200px;  
    .catalog__img-w {
      height: 250px;
    }
    .catalog__col {
      width: 310px;
      flex: none;
    }
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger,
  .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    opacity: 0;
    height: 0;
  }
  .mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 0;
  }


}//1128

@media (max-width : 1024px) {
  .art__item {
    height: 440px;
  }
  .consult__img-w {
    margin-right: 50px;
  }
  .consult__img-w {
    width: 395px;
  }
  .consult__title {
    margin-bottom: 43px;
  }
  
  .cont {
    padding-bottom: 80px;
  }

  .cont,
  .exhib {
    padding-top: 80px;    
  }

  .exhib {
    padding-bottom: 20px;
  }
  .exhib__row {
    margin-top: 60px;
  }
  .exhib__col {
    margin-bottom: 60px;
  }
  .advert__slider, .advert__slide {
    height: 450px;
  }
}//1024

@media (max-width : 991px) {
  .advert__row {  
    flex-wrap: wrap;
  }
  .advert__left,
  .advert__right {
    width: 100%;
    margin-left: 0;
  }
  .advert__right {
    margin-top: 40px;
  }
  .advert__left {
    padding-top: 20px;
  }
  .advert__date {
    margin-bottom: 10px;
  }
  .advert__title {
    margin-bottom: 20px;
  }
  .advert__content {
    margin-bottom: 30px;
  }
  .btn__arr {
    height: 43px;
    min-width: 182px;
  }
  .advert__slider, .advert__slide {
    height: 340px;
  }
  .advert__slider .slick-arrow {
    display: none $i;
  }
  .advert__slider .slick-dots {
    bottom: -30px;
    li {
     button {
      &:before {
        background: #A18F62;       
        border: 1px solid #A18F62;
      }
    }
    &.slick-active {
     button {
       border: 1px solid #A18F62;
     }
   }
 }
}
.advert {
  padding-bottom: 80px;
}
.assist {
  padding: 73px 0 67px 0;
}
.assist__text {
  font-size: 24px;
}


.mcatalog__row {
  margin-top: 34px;
}


.hide-pda {
  display: none;
}
.mcatalog__item:not(:last-child) {
  margin-bottom: 70px;
}
.mcatalog {
  padding-top: 54px;
  padding-bottom: 98px;
}
.heading__wrap {  
  flex-wrap: wrap;
  margin-top: -30px;
  .h2 {
    margin-right: 25px;
    margin-top: 30px;
  }
  .btn__arr {
    margin-top: 30px;
  }
}
.art__gal {
  margin-top: 40px;
}
.art__item {
  height: 334px;
}
.art__title {
  font-size: 20px;
  padding-right: 0;
  margin-bottom: 10px;
}
.art__info {
  padding: 30px 20px 27px 20px;
}
.art__col {
  margin-bottom: 50px;
}
.art {
  padding-bottom: 0;  
}
.consult__img-w {
  width: 334px;
  margin-right: 40px;
}
.consult__row {  
  align-items: center;
}
.consult__btn-w {
  display: block;
}
.consult__add {
  margin-bottom: 30px;
}
.consult__btn {
  height: 40px;
}
.exhib__row {
  margin-top: 56px;
}
.exhib {
  padding-top: 52px;
}
.exhib__img-w {
  height: 177px;
  margin-bottom: 20px;
}
.exhib__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.exhib__col {
  margin-bottom: 50px;
}

.exhib__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  box-orient: vertical;
}
.subscribe {
  padding: 53px 0 50px 0;
}

.cont {
  .contain {
    padding-right: 0;
  }  
}
.cont__right {
  width: 50%;
  height: 360px;
  overflow: hidden;
  margin-top: 80px;
}
.cont__title {
  margin-bottom: 30px;
}
.cont__hours {
  margin-bottom: 30px;
}
.cont {
  padding: 50px 0 50px 0;
}
.advert__title {
  padding-right: 40px;
  br {
    display: none;
  }
}
.advert__text {
  max-width: 460px;
}
.mcatalog__row {
  .catalog__title {
    font-size: 16px;
  }
  .catalog__info {
    font-size: 14px;
  }
  .catalog__price {
    font-size: 20px;
    
  }
  .catalog__btn {
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
  }
  .catalog__content {

  }
}
.mcatalog__item:not(:last-child) {
  margin-bottom: 67px;
}
.show-pda {
  display: block;
  width: 100%;
}
.consult {
  padding-top: 53px;
  padding-bottom: 49px;
}
.consult__img-w {
  margin-top: -8px;
}
.consult__title {
  margin-bottom: 50px;
}
.consult__label-text {
  br {
    display: none;
  }
}
.exhib {
  padding-bottom: 4px;
}
.subscribe__title {
  margin-bottom: 24px;
}
.subscribe__text {
  margin-bottom: 49px;
}
.subscribe__btn,
.subscribe__input {
  height: 40px;
}
.cont__adress {
  line-height: 1.8;
}
.consult__add {
  height: 40px;
}
}//991



@media (max-width : 767px) {
  .assist__text {
    line-height: 125%;
  }
  .art__item {
    height: 315px;
  }
  .consult__row {    
            flex-wrap: wrap;
  }
  .consult__img-w {
    margin-right: 0;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .consult__title {
    margin-bottom: 30px;
  }
  .consult__btn-w {
    display: flex;    
            flex-direction: column;
            -webkit-align-items: flex-start;
                    align-items: flex-start;
  }
}//767

@media (max-width : 640px) {
  .art__col {
    width: 100%;
  }
  .exhib__col {
    width: 100%;
  }
  .cont__row {      
            flex-wrap: wrap;
  }
  .cont__right {
    width: 100%;
    margin-top: 40px;
  }
  .cont .contain {
    padding-left: 0;
  }
  .cont__left {
    padding: 0 30px;
  }
}






