
.interior {
  padding-bottom: 100px;
  margin-top: 20px;
}

.interior__row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.interior__item {
  
}

.interior__col {
  margin-bottom: 60px;  
  width: 33.3333%;
  padding: 0 20px;
}

.interior__img-w {
  display: block;    
  margin-bottom: 31px;
  position: relative;
  padding-top: 100%;
}

.interior__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.interior__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  display: block;
  margin-bottom: 20px;
  font-family: $ff2;
  &:hover {
    text-decoration: none;
  }
}

.interior__txt {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(67, 61, 61);  
  a {
    color: rgb(67, 61, 61);
  }
}

.interior__spagin {
  margin-top: 20px;
}

@media (max-width : 1199px) {
.interior__name {
  font-size: 20px;
}
}

@media (max-width : 991px) {
.interior__row {  
  margin-top: 49px;
}
.interior__col {
  width: 50%;
}
.interior__name {
  margin-bottom: 10px;
}
.interior__img-w {
  margin-bottom: 20px;
}
.interior__spagin {
  margin-top: 0;
}
.interior {
  padding-bottom: 50px;
  margin-top: 8px;
}
}//991

@media (max-width : 575px) {
.interior__col {
  width: 100%;
}
.interior__bread {
  margin-top: 7px;
}
.interior {
  margin-top: 0;
}
.interior__row {
  margin-top: 1px;
}
.interior__txt {
  font-size: 14px;
}
.interior__col {
  margin-bottom: 49px;
}
}//575




