.picture {
  padding-bottom: 96px;
}

.picture__bread-w {
  margin-top: 105px;
}

.picture__row {
  display: flex;
  margin-bottom: 100px;
  margin-top: 53px;
}

.picture__img-w {
  width: 683px;  
  width: 56.8%;
  display: block;
  margin-right: 40px;
  flex: 0 0 auto;
  position: relative;
  padding-top: 75%;
}

.picture__img {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.picture__inf {
  flex: 1 1 auto;
}

.picture__name {
  font-size: 30px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  
  margin-bottom: 30px;
  font-family: $ff2;
}

.picture__perf {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(67, 61, 61);
  display: block;
  margin-bottom: 10px;
  font-family: $ff2;
}



.picture-gal__row {  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picture-gal__contain {
  margin-top: 59px;
}

.paint-gal__item {

}  
.picture-gal__col {  
  width: 25%;
  padding: 0 20px;  
}

.paint-gal__img-w {
  display: block;  
  height: 250px;
}

.paint-gal__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.paint-gal__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(67, 61, 61);
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}

.paint-gal__name {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(67, 61, 61);
}

.picture__gallery {
  display: none;
}

.fancybox-close-small {
  background: url("../img/fclose.svg") $nr center;
  width: 28px;
  height: 28px;  
  background-size: 28px;
  top: 0;
  right: -100px;
  svg {
    display: none;
  }
}

@media (max-height: 576px) {
  .fancybox-slide--image .fancybox-close-small {
   background: url("../img/fclose.svg") $nr center;
   width: 28px;
   height: 28px;  
   background-size: 28px;
   top: 0;
   right: -100px;
   svg {
    display: none;
  }
}
}


.fancybox-navigation {  
  .fancybox-button {
    background: url("../img/farrow.svg") $nr center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    &[disabled] {
      opacity: 0.4 $i;      
    }
    &:hover {      
    }
    svg {
      display: none;
    }
  }
  .fancybox-button--arrow_left {

  }
  .fancybox-button--arrow_right {
   transform: rotate(180deg);
 }
}

.fancybox-is-open .fancybox-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #FFFFFF;
}


@media (max-width : 1199px) {
  .picture__bread-w {
    margin-top: 0;
  }
  .picture-gal__row {
    width: 1250px;    
    flex: none;
  }
  .picture-gal__contain {
    padding-right: 0 $i;
  }
  .picture-gal__scroll {    
    overflow-x: auto;
  }
}//1199

@media (max-width : 991px) {
  .picture__img-w {
    width: 100%;  
    position: static;
    padding-top: 0;
    margin-right: 0;
    max-width: 683px;
  }
  .picture__img {
    position: static;    
    max-width: 100%;
    height: auto;
  }
  .picture__row {    
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-top: 57px;
  }
  .picture__inf {
    order: -1;
  }
  .picture__inf {
    margin-bottom: 20px;
  }
  .picture-gal__row {

  }
  .picture-gal__contain {
    margin-top: 36px;
  }
  .picture {
    padding-bottom: 50px;
  }
  .picture__name {
    max-width: 510px;
    margin-bottom: 33px;
  }
  .fancybox-close-small {
    right: -40px;
  }
}//991

@media (max-width : 620px) {
  .fancybox-slide--image .fancybox-close-small {
    right: 0;
    top: -47px;
  }
  .fancybox-slide--image {
    padding: 60px 10px ;
  }
}

@media (max-height: 576px) {
 .fancybox-slide--image .fancybox-close-small {
  right: 0;
  top: -47px;
} 
}

@media (max-width : 575px) {
  .picture__name {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .picture__perf {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .picture__h3 {
    font-size: 20px;
  }
  .picture-gal__contain {
    margin-top: 30px;
  }
  .picture__name {
    max-width: 240px;
  }
  .picture__bread-w {
    margin-top: 7px;
  }
  .picture__row {
    margin-top: 20px;
    margin-bottom: 59px;
  }
  .picture__inf {
    margin-bottom: 27px;
  }

}//575

@media (max-width : 360px) {
  .picture-gal__row {
    width: 1120px;
  }
}